<div class="regcontent">
  <div class="content">
    <div class="image-content">
      <img
        src="https://images.pexels.com/photos/7394344/pexels-photo-7394344.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
      />
    </div>
    <form
      ngNativeValidate
      class="form-content"
      [formGroup]="regForm"
      (submit)="signUp()"
    >
      <div class="register">Register</div>

      <label for="username">Username</label>
      <input
        type="text"
        formControlName="username"
        id="username"
        placeholder="Username"
        required
      />
      <br />
      <label for="email">Email</label>
      <input
        type="email"
        formControlName="email"
        id="email"
        placeholder="Email"
        required
      />
      <br />
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        minlength="5"
        placeholder="Password"
      />
      <button class="form-button" type="submit">Register</button>
    </form>
  </div>
</div>
