<div class="fac_contain" id="htmlData">
  <div class="fac_content">
    <div class="fac_logo">
      <img src="../../../assets/ftb_logo.png" alt="ftb-logo" />
      <div class="fac_logo_title">
        Proof of transfer for order 20220615GBP0002
      </div>
    </div>
    <div class="fac_text_content">
      <div class="fac_text_content_first">
        <p>Remittance</p>
        <p>Remittance date</p>
        <p>Expected payment date</p>
        <p>Ordered amount</p>
        <p>Beneficiary</p>
        <p>Beneficiary address</p>
        <p>Beneficiary bank name</p>
        <p>Beneficiary bank BIC</p>
        <p>Beneficiary account</p>
      </div>
      <div class="fac_text_content_second">
        <span>{{ product.price }}</span>
        <span>{{ product.product }}</span>
        <span>{{ product.category }}</span>
        <span>{{ product.ubication }}</span>
        <span>GREENBROOK AUTOMATIONS LIMITED</span>
        <span>Turnoaks Business Park Chesterfield S40 2WB, GB</span>
        <span>BARCLAYS BANK PLC</span>
        <span>BUKBGB22</span>
        <span>GBXXXXXXXXXXXXXXXX8221</span>
      </div>
    </div>
    <div class="fac_footer">
      <p>Please contact ftb.pe if you have any doubts at</p>
      <p>Peru: +51 922 085 507</p>
      <p>Email: operaciones@ftb.pe</p>
      <p>Copyright © 2022 FTB HUB S.A.C.</p>
    </div>
  </div>
</div>
