<div class="container mt-5">
  <div class="row">
    <div class="col-lg8 offset-lg2">
      <div class="card">
        <div class="card-body text-center">
          <span class="title">Product List</span>
          <button class="btn btn-success float-end" routerLink="/createproduct">
            Create
          </button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Ubication</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productArr; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ product.product }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.ubication }}</td>
                <td>${{ product.price }}</td>
                <td>
                  <i
                    [routerLink]="['/editproduct/', product._id]"
                    class="icon icon1 fa-solid fa-pen-to-square"
                  ></i>
                  <i
                    (click)="deleteProduct(product._id)"
                    class="icon icon2 fa-solid fa-trash"
                  ></i>

                  <i
                    class="icon fa-solid fa-file-pdf"
                    (click)="addPdf(product)"
                  >
                  </i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
